.camera-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.camera {
  width: 100%;
  height: 100%;
}

.overlay-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(53, 224, 73, 0.598);
  color: rgb(255, 255, 255);
}

.overlay-text p {
  color: white;
}

.current-view-text {
  position: absolute;
  width: 100%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 600;
  /* text-shadow: 0.25px 0.25px 0 white, -0.25px -0.25px 0 white,
    -0.25px 0.25px 0 white, 0.25px -0.25px 0 white; */
  padding: 5px 65px;
}

.overlay-text p {
  margin-bottom: 0px !important;
}

#container-circles {
  position: absolute !important;
  left: 94% !important;
  bottom: 200px !important;
}

#inner-circle {
  background: rgba(254, 0, 0, 0.566) !important;
}

.ant-steps-item-finish .ant-steps-item-title {
  color: rgb(0, 255, 21) !important;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-steps
  .ant-steps-item-finish.ant-steps-item-custom
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: rgb(0, 255, 21) !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
  color: rgb(0, 255, 21) !important;
}
.antd-steps {
  background-color: rgba(150, 148, 148, 0.414) !important;
  padding: 10px 20px 2.5px 20px;
}

.active-step {
  border: 1px solid rgb(0, 255, 21);
}

.ant-steps-item-process {
  background-color: rgba(254, 0, 0, 0.566) !important;
}

.ant-steps-item-title {
  color: white !important;
}
.ant-steps-icon {
  color: white !important;
}
